{% extends "station_base.html" %}

{% set chassis_image = "IMG_3.jpg" %}

{% set tools = [
    {"t_no": "T14", "name": "Central Bearing Bracket", "x": 30, "y": 50.9},
    {"t_no": "T34", "name": "Engine Earthing Cable Tightening", "x": 50, "y": 50.9},
    {"t_no": "T35", "name": "BG1 IR intercooler to Turbo Hose", "x": 30, "y": 80.9},
    {"t_no": "T38", "name": "Urea Tank Fitment", "x": 50, "y": 80.9},
    {"t_no": "T40", "name": "Air Tank Assy with MTG BKT into Fit", "x": 50, "y": 80.9},
] %}
